{% extends 'base.html.twig' %}

{% block title %}Panier - Taekwonkido Phenix{% endblock %}

{% block body %}
    <div class="d-flex justify-content-end">
        <a href="{{ path('app_home') }}" class="btn btn-dark mt-3">Retour à l'accueil</a>
    </div>

    <h1>Mon panier</h1>
    Retrouver l'ensemble des Abonnements et/ou Evénements que vous avez choisi.
    {% if cart|length %}
        <table class="table table-hover bg-light mt-5">
            <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% set total = null %}
            {% for product in cart %}
                <tr>
                    <td>{{ product.product.label }}</td>
                    <td>
                        <a href="{{ path('decrease_to_cart', {'id' : product.product.id}) }}">
                            <img src="{{ asset('build/bouton-circulaire-moins.png') }}" alt="Retirer un produit" height="18px"></a>
                        {{ product.quantity }}
                        <a href="{{ path('add_to_cart', {'id' : product.product.id}) }}">
                            <img src="{{ asset('build/plus.png') }}" alt="Ajouter un produit" height="18px"></a>
                    </td>
                    <td>{{ (product.product.price / 100)|number_format(2, ',', '.') }} €</td>
                    <td>{{ ((product.product.price * product.quantity ) / 100)|number_format(2, ',', '.') }} €</td>
                    <td>
                        <a href="{{ path('delete_to_cart', { 'id' : product.product.id}) }}">
                            <img src="{{ asset('build/poubelle-de-recyclage.png') }}" alt="Supprimer mon produit" height="22px">
                        </a>
                    </td>
                </tr>
                {% set total = total + (product.product.price * product.quantity) %}
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right m-5">
            <b>Nombre de prestation : </b> {{ cart|length }}<br>
            <b>Total de mon panier : </b> {{ (total / 100)|number_format(2, ',', '.') }} €
        </div>
            <a href="{{ path('order_recap') }}" class="btn btn-dark btn-block col-md-3 m-2">Continuer</a>

        {% else %}
        <hr>
        <p>Votre panier est vide !</p>
        {% endif %}
{% endblock %}
