{% extends 'base.html.twig' %}

{% block title %}Adhérent - Taekwonkido Phenix {% endblock %}

{% block body %}
<div class="m-5">
    <h1 class="m-3">Vos adhérents</h1>
    <a href="{{ path('account_member_add') }}" class="btn btn-dark btn-sm">Ajouter un membre</a>
    {% if adhesion is not null %}
        <a href="{{ path('app_subscription', { 'id' : adhesion.id }) }}" class="btn btn-dark btn-sm">Adhésion {{ adhesion.season }}</a>
    {% endif %}
    <p class="text-left m-3">
        Dans cette espace vous allez gérer toutes vos données adhérent <br>
        <a href="{{ path('app_account') }}">Retour</a>
    </p>
    <hr>
    {% if app.user.members|length == 0 %}
    <p class="text-left">
        Vous n'avez pas encore ajouté d'adhérent à votre compte. <br>
        Pour en ajouter un, veuillez <a href="{{ path('account_member_add') }}">Cliquer ici</a>
    </p>
    {% else %}
    <div class="row">
        {% for member in app.user.members %}
                <div class="col-md-3">
                    <div class="card" style="width: 19rem;">
                        <div class="card-body">
                         <img src="/upload/member/{{ member.photoName }}" class="card-img" alt="Photo de l\'adhérent" style="width: 200px; height: auto;">
                            <h5 class="card-title">{{ member.firstname }} {{ member.lastname }}</h5>
                            <p class="card-text">
                                {{member.email }}<br>
                                {{ member.birthdate|date("m/d/Y") }}<br>
                                Adresses : {{ member.streetAddress }},<br>
                                {{ member.postalCode }} - {{ member.city }}<br>
                                Numéro de téléphone : {{ member.phoneNumber }}<br>
                                Adulte responsable : {{ member.responsibleAdult.firstName }} {{ member.responsibleAdult.lastName }} <br>
                                Téléphone d'urgence : {{ member.emergencyPhone }} <br>
                                Commentaire : {{ member.comment }} <br>
                            </p>
                            <a href="{{ path('account_member_edit', { 'id' : member.id }) }}">Modifier</a> | <a href="{{ path('account_member_delete', { 'id' : member.id }) }}">Supprimer</a>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
