{% extends 'base.html.twig' %}

{% block title %}Suivre vos évènements - Taekwonkido Phenix{% endblock %}

{% block body %}
    <div class="m-5">
        <h1>Suivre vos évènements</h1>
        C'est dans cette espace que vous allez gérer le suivi de vos inscriptions d'évènements au club Taekwonkido Phenix. <br>
        <a href="{{ path('app_account') }}">Retour</a>
        <hr>

        <table class="table table-hover bg-light">
            <thead>
            <tr>
                <th scope="col">Evènement</th>
                <th scope="col">avec les options</th>
                <th scope="col">Statut du paiement</th>
                <th scope="col">Moyen de paiement</th>
                <th scope="col">Passé le</th>
                <th scope="col">Statut de l'inscription</th>
                <th scope="col">Membre</th>
                <th scope="col">Prix</th>
                <th scope="col">Commentaire</th>
            </tr>
            </thead>
            <tbody>
            {% for subscription in subscriptions %}
                {% set total = 0 %}
                <tr>
                    <th scope="row">{{ subscription.event.name }}</th>
                    <td>
                        {% for eventOption in subscription.eventOptions %}
                            <p>
                                {{ eventOption.name }}
                            </p>
                            {% set total = total + eventOption.amount %}
                        {% endfor %}
                    </td>
                    <td> {{ subscription.payment.status }}</td>
                    <td> {{ subscription.payment.mean }}</td>
                    <td> {{ subscription.payment.date|date("d/m/Y") }}</td>
                    <td> {{ subscription.status }}</td>
                    <td> {{ subscription.member.firstName }} {{ subscription.member.lastName }}</td>
                    <td> {{ subscription.payment.amount / 100 }} €</td>
                    <td> {{ subscription.comment }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}