{% extends 'base.html.twig' %}

{% block title %}Recapitulatif Paiement {% endblock %}

{% block body %}
    <div class="container-fluid mt-5">
        <h1 class="pt-5">Recapitulatif Paiement</h1>
        <hr>
        <div class="justify-content-center">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">{{ form_row(form.firstName) }}</div>
                <div class="col-md-6">{{ form_row(form.lastName) }}</div>
                <div class="col-md-6">{{ form_row(form.email) }}</div>
                <div class="col-md-8">{{ form_row(form.submit) }}</div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}