{% extends 'base.html.twig' %}

{% block title %}Accueil - Taekwonkido Phenix{% endblock %}

{% block body %}

 <!-- Video of Taekwonkido Phenix -->
    <div class="col-md-12">
        <video class="w-100 embed-responsive embed-responsive-16by9" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" >
            <source class="embed-responsive-item" src="{{ asset('/upload/VideoPhenix.m4v') }}"  type="video/mp4">
        </video>
    </div>

<!-- Description of Taekwonkido Phenix -->

    <div class="cols-md-8 m-5">
        {% for homeComment in homeComment %}
        <h2>{{ homeComment.title|raw }}</h2>
        <p>{{ homeComment.description|raw }}</p>
        {% endfor %}
    </div>

    <div class="m-5">
    <div class="title-events mt-3">
        <h2>Prochain événements</h2>
    </div>

 <!-- Card for the events -->
    <div class="row m-3">
        {% for event in events %}
        <div class="card mb-8 shadow p-2 mb-5 bg-white rounded w-50">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/upload/{{ event.linkimage }}" class="card-img" alt="{{ event.name }}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ event.name|raw }}</h5>
                        <p class="card-text">{{ event.description|raw  }}</p>
                    </div>
                    <a href="{{ path('app_event', { 'slug' : event.slug}) }}" class="btn btn-dark float-right">Informations</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
