{% extends 'base.html.twig' %}

{% block title %}Tarifs - Taekwonkido Phenix{% endblock %}

{% block body %}

    <div class="container">
        <h1>{{ event.name }} </h1>
        <div class="pb-5">
            <div class="container">
                    {% for member in app.user.members %}
                        <div class="row py-5 p-4 bg-white rounded shadow-sm">
                            <div class="col-lg-6">
                                <img src="/upload/member/{{ member.photoName }}" class="card-img" alt="Photo de l\'adhérent" style="width: 200px; height: auto;">
                                <h5 class="card-title">{{ member.firstname }} {{ member.lastname }}</h5>
                            </div>
                            <div class="col-lg-6">
                                <h5 class="card-title">Les tarifs :</h5>
                                <div class="mb-3">
                                    <label for="rates"></label>
                                    <select name="rates" id="rates">
                                        {% for rate in event.eventRates %}
                                            <option value="{{ rate.id }}">{{ rate.name }} {{ rate.amount/100 }} €</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                {% if event.eventOptions is not empty %}
                                    <h5 class="card-title">Les options :</h5>
                                    {% for option in event.eventOptions %}
                                        <div class="mb-3">
                                            <input type="checkbox" id="{{ option.id }}" name="{{ option.name }}" >
                                            <label for="{{ option.id }}">{{ option.name }} {{ option.amount/100 }} €</label>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                <a href="{{ path('order_recap') }}" class="btn btn-dark btn-sm">Payer</a>
            </div>
        </div>
    </div>
{% endblock %}
