{% extends 'base.html.twig' %}

{% block title %}Tarifs - Taekwonkido Phenix{% endblock %}

{% block body %}
    <div class="container">
        <div class="pb-5 ">
            <div class="container">
                <div class="row py-5 p-4 bg-white rounded shadow-sm">
                    <form id="search-form" class="example-wrapper" role="search" method="get" action="{{ path('search_subscription_by_member') }}">
                        <div class="row col-12 p-3">
                            <input type="text" class="col-6" name="search" placeholder="Recherchez un membre...">
                            <button type="submit" class="btn btn-primary col-1" name="sub">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>
                    <div class="col-6 card-padding-3">
                    {% for member in listMember %}
                        <div class="card mt-2 mb-4">
                            <div class="container">
                                <h4 class="card-title mt-2"><b>{{member.firstName}} {{member.lastName}}</b></h4>
                                <div class="row">
                                    <div class="col-6 mb-2">
                                        <div class="col-12 card-subtitle">TARIF</div>
                                        <div class="col-12 mt-2">
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected>Sélectionnez un tarif</option>
                                                <option value="1">Tarif1</option>
                                                <option value="2">Tarif2</option>
                                                <option value="3">Tarif3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <div class="col-12 card-subtitle">OPTION</div>
                                        <div class="col-12 mt-2">
                                            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                                                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                                                <label class="btn btn-outline-primary" for="btncheck1">Passeport 20€</label>
                                                <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
                                                <label class="btn btn-outline-primary" for="btncheck2">Option2</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-primary" name="sub">
                                            Enregistrer
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                        <div class="mt-4">
                            <a href="{{ path('order_resume_cb') }}" class="btn btn-dark btn-sm">Payer en CB</a>
                            <a href="{{ path('order_resume_esp', {'total' : 0}) }}" class="btn btn-dark btn-sm">Payer en Espèce</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{ encore_entry_script_tags('subscription') }}
{% endblock %}


{% block javascripts %}

    <script src="{{ asset('build/bootstrap.min.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var max_fields      = 10; //maximum input boxes allowed
            var wrapper         = $(".input_fields_wrap"); //Fields wrapper
            var add_button      = $(".add_field_button"); //Add button ID

            var x = 1; //initlal text box count
            $(add_button).click(function(e){ //on add input button click
                e.preventDefault();
                if(x < max_fields)
                { //max input box allowed
                    x++; //text box increment
                    $(wrapper).append('<div><label class="sr-only" for="inlineFormInputName">Nom Prénom</label><input type="text" name="mytext[]" class="form-control" id="inlineFormInputName"/><a href="#" class="remove_field">Supprimer</a></div>'); //add input box
                }
            });

            $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
                e.preventDefault();
                $(this).parent('div').remove();
                x--;
            })
        });
    </script>
{% endblock %}