{% extends 'base.html.twig' %}

{% block title %}Offre Abonnement - Taekwonkido Phenix{% endblock %}

{% block body %}

    <div class="container">
        <h1>Abonnement</h1>
        <p>
            Choisissez votre abonnement
        </p>

        <!--    if  (isset($data->error)) { ?>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                -->

        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 p-3 bg-white rounded shadow-sm mb-5">

                        <!-- Shopping cart table -->
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col" class="border-0 bg-secondary text-white">
                                        <div class="p-2 px-3 text-uppercase">Abonnement</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-secondary text-white">
                                        <div class="py-2 text-uppercase">Age</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-secondary text-white">
                                        <div class="py-2 text-uppercase">Tarif</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-secondary text-white">
                                        <div class="py-2 text-uppercase">Quantité</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-secondary text-white">
                                        <div class="py-2 text-uppercase"></div>
                                    </th>
                                </tr>
                                </thead>
                                {% for memberShipRate in memberShipRates %}
                                <tbody>
                                <tr>
                                    <th scope="row">
                                        <div class="p-1">
                                            <div class="ml-1 d-inline-block align-middle">
                                                <h5 class="mb-0">{{ memberShipRate.label }}</h5>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="align-middle">{{ memberShipRate.maximumAge }}</td>
                                    <td class="align-middle">{{ (memberShipRate.price/ 100)|number_format(2, ',', '.') }} €</td>
                                    <td class="align-middle">
                                        <a href="">
                                            <img src="{{ asset('build/bouton-circulaire-moins.png') }}" alt="Retirer un produit" height="17px">
                                        </a>

                                        <a href="">
                                            <img src="{{ asset('build/plus.png') }}" alt="Ajouter un produit" height="17px">
                                        </a>
                                    </td>
                                    <td class="align-middle text-center">
                                        <a href="{{ path('add_to_cart', { 'id' : memberShipRate.id }) }}" class="btn btn-dark btn-block mt-3">Ajouter</a>
                                    </td>

                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <!-- End -->
                        </div>
                    </div>

                            <div class="col-lg-12 p-3 bg-white rounded shadow-sm mb-5">
                                <div class="bg-secondary rounded-pill px-4 py-3 text-uppercase text-white fw-bold">Résumé</div>
                                {% set total = null %}
                                {% for memberShipRate in cart %}
                                <div class="p-4 pb-0">
                                    {% set total = total + (product.memberShipRate.price * product.quantity) %}
                                    {% endfor %}
                                    <p class="font-italic mb-4"></p>
                                    <ul class="list-unstyled mb-4">
                                        <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total</strong>
                                            <h5 class="fw-bold" data-item="total">{{ (total / 100)|number_format(2, ',', '.') }} €</h5>
                                        </li>
                                    </ul>
                                    <a href="{{ path('order_recap') }}" type="submit" class="btn btn-dark rounded-pill py-2 btn-block col-md-5 mx-auto">Continuer</a>
                                </div>
                        </div>


        </div>
    </div>
    </div>

{% endblock %}
