{% extends 'base.html.twig' %}

{% block title %}Tarifs - Taekwonkido Phenix{% endblock %}

{% block body %}

    <div class="container">
        <h1>{{ event.name }} </h1>
        <div class="pb-5 ">
            <div class="container">
                <div class="row py-5 p-4 bg-white rounded shadow-sm">
                    {% for member in app.user.members %}
                <div class="row justify-content-around">
                    <div class="col-md-5 p-3">
                        <!-- formulaire ou select des members -->
                            <select class="form-select" aria-label="Default select example">
                                <a href="{{ path('app_subscription', { 'id' : member.id }) }}">
                                <option selected></option>
                                <option value="{{ member.id }}">{{ member.firstname }} {{ member.lastname }}</option>
                                </a>
                            </select>
                    </div>
                    <div class="col-md-6 text-center p-3">
                                <h5 class=" card-title">Tarifs Membre :</h5>
                                <div class="mb-3">
                                    <label for="rates"></label>
                                    <select name="rates" id="rates">
                                        {% for rate in event.eventRates %}
                                    /* vérifié app_subscription selon les parametres */
                                            <a href="{{ path('app_subscription', { 'id' : event.id }) }}">
                                            <option selected></option>
                                            <option value="{{ rate.id }}">{{ rate.name }} {{ rate.amount/100 }} € </option>
                                    </select>
                                    {% endfor %}
                                </div>
                                    <h5 class="card-title">Les options :</h5>
                                {% if event.eventOptions is not empty %}
                                        <div class="mb-3">
                                            {% for option in event.eventOptions %}
                                            <input type="checkbox" id="{{ option.id }}" name="{{ option.name }}">
                                            <label for="{{ option.id }}">{{ option.name }} {{ option.amount/100 }} €</label>
                                                </a>
                                            {% endfor %}
                                            {% endif %}
                                        </div>
                    </div>
                </div>
                    {% endfor %}
                        <!-- accordion form -->
                                <div class="accordion" id="accordionPanelsStayOpenExample">
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                          Les visiteurs à inscrire
                                      </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                      <div class="accordion-body">
                                          <!-- formulaire ou select des members -->
                                          <div class="input_fields_wrap">
                                              <button class="add_field_button mb-3">Ajouter des Visiteurs</button>
                                          </div>
                                      </div>
                                    </div>
                                  </div>

                                </div>
                                <!-- end accordion form -->
                        </div>

                <a href="{{ path('order_resume_cb') }}" class="btn btn-dark btn-sm">Payer en CB</a>
                <a href="{{ path('order_resume_esp', {'total' : 0}) }}" class="btn btn-dark btn-sm">Payer en Espèce</a>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}

    <script src="{{ asset('build/bootstrap.min.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            var max_fields      = 10; //maximum input boxes allowed
            var wrapper         = $(".input_fields_wrap"); //Fields wrapper
            var add_button      = $(".add_field_button"); //Add button ID

            var x = 1; //initlal text box count
            $(add_button).click(function(e){ //on add input button click
                e.preventDefault();
                if(x < max_fields)
                { //max input box allowed
                    x++; //text box increment
                    $(wrapper).append('<div class="row">' +
                        '<div class="col-md-6">{{ form(form) }}</div>\n' +
                        '<div class="col-md-5 m-3 text-center">\n' +
                        '<h5 class="card-title">Tarifs pour les visiteurs :</h5>\n' +
                        '<div class="mb-3">\n' +
                        '<label for="rates"></label>\n' +
                        '<select name="rates" id="rates">\n' +
                        '{% for rate in event.eventRates %}\n' +
                        '<a href="{{ path('app_subscription', { 'id' : event.id }) }}">\n' +
                        '<option selected></option>\n' +
                        '<option value="{{ rate.id }}">{{ rate.name }} {{ rate.amount/100 }} € </option>\n' +
                        '{% endfor %}\n' +
                        '</select>\n' +
                        '</div>\n' +
                        '{% if event.eventOptions is not empty %}\n' +
                        '<h5 class="card-title">Les options :</h5>\n' +
                        '{% for option in event.eventOptions %}\n' +
                        '<div class="mb-3">\n' +
                        '<input type="checkbox" id="{{ option.id }}" name="{{ option.name }}" >\n' +
                        '<label for="{{ option.id }}">{{ option.name }} {{ option.amount/100 }} €</label>\n' +
                        '</div>\n' +
                        '</a>\n' +
                        '{% endfor %}\n' +
                        '{% endif %}\n' +
                        '</div>\n' +
                        '<a href="#" class="remove_field mb-3">Supprimer</a>' +
                        '</div>'); //add input box
                }
            });

            $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
                e.preventDefault();
                $(this).parent('div').remove();
                x--;
            })

        });
    </script>
{% endblock %}