{% extends 'base.html.twig' %}

{% block title %}Albums Photo - Taekwonkido Phenix{% endblock %}

{% block body %}
    <div class="m-5">
        <h1 style="color:{{ Tags.color }}">Présentation des Albums photo <em>{{ Tags.title|raw }}</em></h1>
        <a href="{{ path('app_pictures') }}">Retour au menu des Albums Photo</a>
    </div>

        <!-- Card for pictures  -->
        <div class="row row-cols-1 row-cols-md-4 g-4 m-5">
    {% for AlbumPicture in Tags.AlbumPictures %}
            <div class="col">
                <div class="card">
                    <img src="/upload/AlbumPicture/{{ AlbumPicture.picture }}" class="card-img-top" alt="image des album photo" style="height: auto; width: 100%;"/>
                    <div class="card-body">
                        <h5 class="card-title">{{ AlbumPicture.title|raw }}</h5>
                        <p class="card-text">
                            {{ AlbumPicture.description|raw }}
                        </p>
                        <a href="{{ path('app_pictures_slug', { 'slug' : AlbumPicture.slug}) }}" class="btn btn-dark float-right">Album Photo</a>
                    </div>
                </div>
            </div>
    {% endfor %}
        </div>


{% endblock %}