{% extends 'base.html.twig' %}

{% block title %}Récapitulatif avant paiement - Taekwonkido Phenix{% endblock %}

{% block body %}

    <div class="container">
        <h1>Récapitulatif avant paiement</h1>
        <p>
            Vérifier vos préférences avant de passer au paiement
        </p>

        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

                        <!-- Shopping cart table -->
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col" class="border-0 bg-secondary text-white">
                                        <div class="p-2 px-3 text-uppercase">Produit</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-secondary text-white text-center">
                                        <div class="py-2 text-uppercase">Prix</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-secondary text-white text-center">
                                        <div class="py-2 text-uppercase">Quantité</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-secondary text-white text-center">
                                        <div class="py-2 text-uppercase">Total</div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set total = null %}
                                {% for product in products %}
                                <tr>
                                    <th scope="row">
                                        <div class="p-2">
                                            <div class="ml-3 d-inline-block align-middle">
                                                <h5 class="mb-0">{{ product.product.label }}</h5>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="align-middle text-center">
                                        {{ (product.product.price / 100)|number_format(2, ',', '.') }} €
                                    </td>
                                    <td class="align-middle text-center">
                                        <strong>{{ product.quantity }}</strong>
                                    </td>
                                    <td class="align-middle text-center">
                                        {{ ((product.product.price * product.quantity ) / 100)|number_format(2, ',', '.') }} €
                                    </td>
                                </tr>
                                    {% set total = total + (product.product.price * product.quantity) %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- End -->
                    </div>
                </div>

                {{ form_start(form) }}
                    {{ form_widget(form.amount, {'value' : total}) }}
                <input name="id" type="hidden" value="<?php echo $data->id ?>" />
                    <input name="amount" type="hidden" value="" />

                    <div class="row py-5 p-4 bg-white rounded shadow-sm">
                        <div class="col-lg-6">
                            <div class="bg-secondary rounded-pill px-4 py-3 text-uppercase text-white fw-bold">Coordonnées</div>
                            <div class="p-4">
                                <div class="mb-3">{{ form_row(form.firstName) }}</div>
                                <div class="mb-3">{{ form_row(form.lastName) }}</div>
                                <div class="mb-3">{{ form_row(form.email) }}</div>
                                <div class="mb-3">{{ form_row(form.birthdate) }}</div>
                                <div class="mb-3">{{ form_row(form.streetAddress) }}</div>
                                <div class="mb-3">{{ form_row(form.city) }}</div>
                                <div class="mb-3">{{ form_row(form.postalCode) }}</div>
                                <div class="mb-3">{{ form_row(form.country) }}</div>
                                <div class="mb-3">{{ errorMessage }}</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="bg-secondary rounded-pill px-4 py-3 text-uppercase text-white fw-bold">Résumé</div>
                            <div class="p-4 pb-0">
                                <p class="font-italic mb-4"></p>
                                <ul class="list-unstyled mb-4">
                                   <!-- <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Sous total</strong><strong data-item="amount">
                                            {{ (total / 100)|number_format(2, ',', '.') }} €
                                        </strong></li> -->
                                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total</strong>
                                        <h5 class="fw-bold" data-item="total">{{ ((total / 100)|number_format(2, ',', '.')) }} €</h5>
                                    </li>
                                </ul>
                                {{ form_row(form.multiplePayment) }}
                            </div>
                            {{ form_row(form.submit, {'label' : 'Vers Paiement'}) }}
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
